{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <form action="" method="POST">
        <legend class="border-bottom mb-2">LogIn</legend>
        {{form|crispy}}
        {% csrf_token %}
        <div>
            <button class="btn btn-outline-info" type="submit">LogIn</button>
        </div>
        <div>
            <small>
                Forget password? <a href="{% url 'password_reset' %}">click here</a>
            </small> 
        </div>
        <div>
            <small>
                Don't have an account? <a href="{% url 'register' %}">Register</a>
            </small> 
        </div>
    </form>
{% endblock content %}